body{
  background-image: url(./img/oldschoolrepeat.png);
  /* background-image: url(./img/playstation-pattern-colored.png); */
  background-repeat: repeat, no-repeat;
  background-attachment: fixed;
  margin: 0 auto;
  background-size:400px 300px;
  /* background-size:400px 400px; */
  width: 50%;
}

#title-banner{
    text-align: center;
}

h1 {
  background: transparent;
  font-family: Impact;
  letter-spacing: 15px;
  font-weight: bold;
  font-size: 150px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  
  
}


  h3 {
    font-family: Helvetica;
    font-size: 30px;
    margin: auto;
    width: auto;
} 

#container {
  background-color: white;
  box-shadow: 10px 5px 5px rgba(40, 39, 41, 0.5);
}


td {
  border : 2px solid#333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 70px;
  cursor: pointer;
}

table {
border-collapse: collapse;
left: 50%;
table-layout:fixed;
margin: auto;
}


table tr:first-child td{
    border-top: 0;
}

table tr:last-child td{
  border-bottom: 0;
}

table tr td:first-child{
  border-left: 0;
}


table tr td:last-child{
  border-right: 0;
}

.endgame{
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205, 133, 63, 0.8);
  position:absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
 
  font-size: 2em;
}



#tictactoe{
    width: auto;
    padding: 20px;
    border-top: 3px solid black;
    margin: 0;
    background-color: white; 
    }

#connectfour{
    width: auto;
    padding: 20px;
    border-top: 3px solid black;
    margin: 0;
    background-color: white;
    }


/* memory game CSS */
#memory{
    width: auto;
    padding: 20px;
    border-top: 3px solid black;
    margin: 0;
    background-color: white;
  }

  .grid-container {
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.image-tile {
    height: 249px;
    width: 249px;
}

.box {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  padding: 2px;
}

.end {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(65, 107, 243);
  padding: 2px;
}

.board {
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(65, 107, 243);
  width: 618px;
  height: 600px;
  padding-left: 10px;

}

#start-connect {
  margin: 0 auto;
  display: block;
}

#player-display {
  margin: auto;
  width: 50%;
  padding-bottom: 10px;
}
  
#hover-over img {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  border: solid, black;
 }
 


 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */

  #blankSpace{
      padding: 400px 400px;
      margin: auto;
      /* background-color: white; */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: xx-large;
  }

  .party {
      background-image: url("https://cultofthepartyparrot.com/parrots/hd/scienceparrot.gif");
  }